:root{
    --background-image: url("../assets/images/background-desktop.png");
}

@media(max-width: 1024px){
    :root{ 
        --background-image: url("../assets/images/background-tablet.png");
    }
}

@media(max-width: 767px){
    :root{
        --background-image: url("../assets/images/background-mobile.png");
    }
}

body{
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Inconsolata", serif;
}

header{
 display: flex;
 align-items: center;
 justify-items: center;   
}

main{
    background-image: url("../assets/images/pattern-lines.svg");
    background-position: center;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}

h1{
    color: #ffffff;
}

h2{
    color: #8784a4;
}

#content {
    height: 350px;
}

form{
    color: #8784a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

p{
    font-size: 11px;
    text-align: center;
    margin-top: -8px;
}

label{
    color: #d2d1d6;
    font-size: 20px;
}

input{
    background-color: transparent;
    border: 1px solid #4b486a;
    margin: 10px
}

button {
    background-color: #f57261;
    color: #0c082b;
}

button:hover {
    background-color: #e16151;
}

input, button {
    border-radius: 5px;
    width: 250px;
    height: 25px;
}

#photoFile {
    height: 100px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}