:root{
    --background-image: url("../assets/images/background-desktop.png");
}

@media(max-width: 1024px){
    :root{ 
        --background-image: url("../assets/images/background-tablet.png");
    }
}

@media(max-width: 767px){
    :root{
        --background-image: url("../assets/images/background-mobile.png");
    }
}

body{
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inconsolata", serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

header{
 display: flex;
 align-content: center;
 justify-content: center;
 width: 100vw
}

main{
    background-image: url("../assets/images/pattern-lines.svg");
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #ffffff;
}

h2{
    color: #8784a4;
}

#content {
    height: 350px;
}

form{
    color: #8784a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

#informationPhoto{
    font-size: 11px;
    text-align: center;
    margin-top: -8px;
}

label{
    color: #d2d1d6;
    font-size: 20px;
}

input{
    background-color: transparent;
    border: 1px solid #4b486a;
    margin: 10px;
    padding: 5px;
}

button {
    background-color: #f57261;
    color: #0c082b;
}

button:hover {
    background-color: #e16151;
}

input, button {
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    height: 40px;
}

input[type="file"]{
    display: none;
}

#photoFile {
    box-sizing: border-box;
    border: 1px dashed #4b486a;
    width: 230px;
    height: 50px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

#attribution {
    font-size: 11px;
    padding: 0;
    display: inline;
    margin-left: -65px;
}

#attribution a {
    color: hsl(228, 45%, 44%);
}